body {
        background-color:#424242
        }
#outer {
        //height: 440px;
        padding: 20px;
        border: 2px solid #424242;
        margin-bottom: 20px;
        margin-top: 18px;
        background-color:#B3B3B3;
        }
#map-container {
        height: 499px
        }
@media all and (max-width: 991px) {
        #map-outer  { height: 650px }
        }
.input-group[class*="col-"] {
        padding-right: 15px;
        padding-left: 15px;
        }
.error {
        color: #FF0000;
       }
